.btn{
    background: #8E54E9;
    border-radius: 20px;
}
.logo{
    height: auto;
    padding: 10px;
    margin-left: 50px;
}
.nav-item1{
    margin-left: 300px;
}
.nav-link{
    margin-left: 10px;
}
.col{
    margin-top: 50px;
}
.image1{
    margin-top: -100px;
    width: 937px;
height: 654px;
left: 643px;
gap: 0px;
opacity: 0px;
rotate: 0px 0px 0px 50px;

}
.main{
    background-color: rgb(250, 238, 250);
    height: 100vh;
}
@media only screen and (max-width: 1000px) {
    .image1{
        width: 100%;
        height: auto;
        margin-top: -0px;
    }
  }
  .heading{
    color: #8E54E9;
  }

